*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    background-image: url(../images/design1_image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}
body{
    background-color: rgba(216, 215, 113, 0.653);
}
.titulo-ppal{
    padding: 0.1rem 1.5rem 0.3rem 1.5rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px 1px #791818;
    background-color: rgba(245, 245, 245, 0.632) ;
}
.logo{
    position: absolute;
    width: 10rem;
    top: 4rem; left: 4rem;
    background-color: rgb(52, 75, 150);
    border-radius: 1rem;
}
a > img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
a > img:not(hover){
    transition: 0.5s;
}
.titulo-home{
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 0.2rem 0 0.4rem 0;
    text-align: center;
    font-size: 2.1rem;
    margin-top: 0.5rem;
}
.nav-nuevo{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    gap: 1rem;
    margin-right: 5rem;
}
.enlace-nuevo{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(255, 217, 0);
    filter: drop-shadow(3px 3px rgb(11, 9, 89));
    text-align: center;
    width: auto;
    padding: 0.5rem 0.8rem;
    background-color: rgba(52, 75, 150, 0.742);
    border-radius: 0.7rem;
}
a.enlace-nuevo:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    color: red;
}
a.enlace-nuevo:not(hover){
    transition: 0.5s;
}
.main-home{
    height: 65vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.img-home{
    background-image: url(../images/hockey-1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
    border-radius: 12.5rem;
    width: 25rem;
    height: 25rem;
}
.lista-home{
    padding: 2rem 1.2rem 2rem 2rem;
    border-radius: 1.2rem;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
    background-color: whitesmoke;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3rem;
}
section.art-home > h3{
    font-style: italic;
    font-size: 1.8rem;
    font-weight: bold;
}
.art-home > p{
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
.img-about{
    background-image: url(../images/hockey-2.jpg);
    background-size:cover;
    background-position: right;
    background-repeat:no-repeat;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
    border-radius: 12.5rem;
    width: 25rem;
    height: 25rem;
}
.lista-about{
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
    background-color: whitesmoke;
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
}
article.art-about h2{
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
}
article.art-about p{
    margin-top: 0.2rem;
    font-size: 1.1rem;
}
.img-contact{
    background-image: url(../images/hockey-3.jpg);
    background-size:cover;
    background-position: right;
    background-repeat:no-repeat;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
    border-radius: 12.5rem;
    width: 25rem;
    height: 25rem;
}
.contact-info{
    font-size: 1.8rem;
}
p.p-1 a{
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.632);
    padding: 0.1rem 0.3rem;
    border-radius: 0.4rem;
    color: rgb(52, 75, 150);
}
p.p-1 a:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgb(163, 0, 0);
}
p.p-1 a:not(hover){
    transition: 0.5s;
}
nav > a[href="#"]{
    display: none;
}
.ball-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.ball{
    margin-bottom: 4rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 0.8s infinite alternate;
}
.blue-ball {
    background-color: rgb(24, 98, 236);
}
.red-ball {
    background-color: rgb(198, 23, 23);
    animation-delay: 0.2s;
}
.yellow-ball {
    background-color: rgb(240, 196, 21);
    animation-delay: 0.4s;
}
.green-ball {
    background-color: rgb(45, 193, 50);
    animation-delay: 0.6s;
}
@keyframes bounce {
from {
    transform: translateY(0px);
}
to {
    transform: translateY(-25px);
}
}
@-webkit-keyframes bounce {
from {
    transform: translateY(0px);
}
to {
    transform: translateY(-25px);
}
}
.main-game{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}
.tabla-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.jug-tabla{
    width: 20vw;
    height: 65vh;
    margin: 2rem 0.5rem;
}
table{
    background-color: rgba(93, 116, 189, 0.742);
    height: 50vh;
    width: 40vw;
    border-radius: 0 0 1rem 1rem;
    text-align: left;
    box-shadow: 3px 3px 2px rgba(77, 77, 77, 0.669);
    margin: 3rem;
}
tr:nth-child(even){
    background-color: whitesmoke;
}
.columna-1, th{
    background-color: rgb(52, 75, 150);
    padding: 0.5rem 1rem;
    color: whitesmoke;
}
.fecha-tabla{
    color: whitesmoke;
    text-align: center;
}
.ab-izq{
    border-radius: 0 0 0 1rem;
}
caption{
    padding: 0.8rem;
    background-color: whitesmoke;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 3px 3px 2px rgba(77, 77, 77, 0.669);
}
.info-ad{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.4rem;
    width: 80vw;
    margin-bottom: 3rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 2px rgba(133, 133, 133, 0.669);
}
.info-ad > article > p{
    margin-top: 0.3rem;
}
.tel-correo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
}
article.tel-correo > a{
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.632);
    padding: 0.1rem 0.3rem;
    border-radius: 0.4rem;
    color: rgb(52, 75, 150);
}
.loc-title{
    align-self: center;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px #7d7d7d8e;
}
.mapas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 3rem;
}
.rules-conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 70vw;
    margin: 2rem;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
}
dt{
    font-weight: bold;
    font-size: 1.2rem;
}
.r-title{
    text-align: center;
}
.inline-title{
    display: inline;
}
.reg-list > li{
    margin: 1rem 0;
    list-style-position: inside;
}
.reg-list > li::marker{
    font-weight: bold;
}
.field-list > li{
    list-style-type: lower-latin;
}
.parrafo-indentado{
    text-indent: 1.5rem;
}
.ap-list > li{
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 2rem;
}
.main-reg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    background-color: whitesmoke;
    width: 70vw;
    height: auto;
    padding: 3rem 4rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
}
.formulario > h1{
    align-self: center;
    padding-bottom: 2rem;
}
legend{
    font-weight: bold;
    font-size: 1.1rem;
}
fieldset{
    margin: 1rem 0;
    border: none;
}
input, select{
    margin: 0.5rem;
}
button{
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    margin: 2rem 0 1rem 0;
    border-radius: 0.5rem;
    background-color: rgb(52, 75, 150);
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 3px 3px 2px rgba(133, 133, 133, 0.669);
}
button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    color: rgb(255, 234, 0);
}
button:not(hover){
    transition: 0.5s;
}
.b-label{
    font-weight: bold;
}
.header-nav-chico{
    display: none;
}
.chico-muestra{
    display: none;
}
.chico-oculta{
    display: initial;
}
iframe{
    border: none;
}
@media only screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    .titulo-ppal{
        padding: 0.1rem 1.5rem 0.3rem 1.5rem;
        font-size: 2rem;
    }
    .logo{
        width: 6rem;
        top: 5rem; left: 2.5rem;
        border-radius: 0.5rem;
    }
    .titulo-home{
        font-size: 1.5rem;
    }
    .nav-nuevo{
        gap: 0.5rem;
        margin-right: 2.5rem;
    }
    .enlace-nuevo{
        font-size: 0.8rem;
    }
    .main-home{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        gap: 1rem;
        width: 100vw;
        height: auto;
        margin: 2rem 0;
    }
    .img-home, .img-about, .img-contact{
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }
    .lista-home{
        padding: 2rem 1.2rem 2rem 2rem;
        border-radius: 1.2rem;
        box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
        background-color: whitesmoke;
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    section.art-home > h3{
        font-style: italic;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .art-home > p{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .lista-about{
        padding: 1.5rem;
        border-radius: 1.2rem;
        width: 60vw;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    article.art-about h2{
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
    }
    article.art-about p{
        margin-top: 0.2rem;
        font-size: 1rem;
    }
    .contact-info{
        font-size: 1.2rem;
    }
    .ball{
        margin-bottom: 2.5rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 0.8s infinite alternate;
    }
    .jug-tabla{
        display: none;
    }
    table{
        background-color: rgba(93, 116, 189, 0.742);
        height: auto;
        width: 80vw;
        border-radius: 0 0 1rem 1rem;
        text-align: left;
        box-shadow: 3px 3px 2px rgba(77, 77, 77, 0.669);
        margin: 3rem;
    }
    .info-ad{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        font-size: 1.1rem;
        width: 80vw;
        margin-bottom: 3rem;
        background-color: whitesmoke;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 3px 3px 2px rgba(133, 133, 133, 0.669);
    }
    .loc-title{
        font-size: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .mapas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin: 0;
    }
    .chico-muestra{
        display: initial;
    }
    .chico-oculta{
        display: none;
    }
    .formulario{
        width: 90vw;
    }
}
@media only screen and (max-width: 375px) {
    header{
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        height: 35vh;
    }
    .titulo-ppal{
        padding: 0.1rem 1.5rem 0.3rem 1.5rem;
        font-size: 1.5rem;
    }
    .logo{
        position: initial;
        width: 5rem;
        align-self: center;
        border-radius: 0.5rem;
    }
    .titulo-home{
        font-size: 1rem;
    }
    .nav-nuevo{
        gap: 0.3rem;
    }
    .enlace-nuevo{
        font-size: 0.6rem;
        padding: 0.3rem;
    }
    .main-home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        gap: 1rem;
        width: 100vw;
        height: auto;
        margin: 2rem 0;
    }
    .img-home, .img-about, .img-contact{
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }
    .lista-home{
        padding: 2rem 1.2rem;
        border-radius: 1.2rem;
        box-shadow: 3px 3px 2px rgba(118, 11, 11, 0.669);
        background-color: whitesmoke;
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    section.art-home > h3{
        font-style: italic;
        font-size: 1rem;
        font-weight: bold;
    }
    .art-home > p{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .lista-about{
        padding: 1.5rem;
        border-radius: 1.2rem;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    article.art-about h2{
        font-size: 1.1rem;
        font-weight: bold;
        font-style: italic;
    }
    article.art-about p{
        margin-top: 0.2rem;
        font-size: 1rem;
    }
    .contact-info{
        font-size: 1rem;
    }
    .ball{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 0.8s infinite alternate;
    }
    .jug-tabla{
        display: none;
    }
    table{
        background-color: rgba(93, 116, 189, 0.742);
        height: auto;
        width: 90vw;
        border-radius: 0 0 1rem 1rem;
        text-align: left;
        box-shadow: 3px 3px 2px rgba(77, 77, 77, 0.669);
        font-size: 0.8rem;
    }
    .info-ad{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 0.8rem;
        width: 90vw;
        margin-bottom: 3rem;
        background-color: whitesmoke;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 3px 3px 2px rgba(133, 133, 133, 0.669);
    }
    .loc-title{
        font-size: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .mapas{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        width: 90vw;
        justify-content: center;
        align-content: center;
        margin: 0;
    }
    .chico-muestra{
        display: block;
    }
    .chico-oculta{
        display: none;
    }
    .formulario{
        width: 90vw;
    }
    iframe{
        width: 70vw;
    }
    .r-title{
        font-size: 1.2rem;
    }
    dt, dd{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
    .rules-conteiner h3{
        font-size: 1rem;
    }
    .rules-conteiner{
        width: 90vw;
        margin: 1rem auto;
        font-size: 0.9rem;
    }
    .formulario{
        width: 90vw;
        height: auto;
        padding: 2rem 2rem;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
    }
}